.form__autorization{
    width: 300px;
    margin: auto;
    margin-top: 200px;

    .email, .password{
        width: 300px;
        height: 30px;
        margin-bottom: 10px;
    }

    .submit{
        width: 200px;
        height: 40px;
        background-color: transparent;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}